/** GLOBAL VARIABLE **/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:focus {
    outline: none;
}

header {
    height: 100vh;
    background: #B5966A;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('image/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    width: 30rem;
    height: 90%;
    margin: auto;
    border: 2px #fff solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 9px 10px 0px rgb(0 0 0), -2px 5px 5px rgb(0 0 0);
}

.content {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
}

#number {
    font-size: 13rem;
    font-weight: 500;
    color: #008000;
}

.btn {
    display: block;
    padding: 10px 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000, 1px 1px 5px #000;
    font-size: 1.3rem;
    font-weight: 200;
    background: #0D2C54;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: .6s;
}

.btn:hover,
.btn:focus {
    background: #008000;
    color: #000;
}

.logo {
    display: flex;
    width: 50%;
    margin-top: 1.5rem;
    justify-content: space-between;
}

.hashnode {
    width: 100%;
    max-width: 40px;
    transition: .6s;
}

.hashnode:hover {
    transform: rotate(1turn);
}

a {
    text-decoration: none;
    font-size: 3rem;
    color: #000;
    transition: .6s;
}

a:hover,
a:focus {
    color: #008000;
    transform: rotate(1turn);
}


/** MEDIA QUERIES **/

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}